{% extends "base.html.twig" %}

{% block title %}Actor{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1>Acteurs : {{ actor.name }}</h1>
            <h3>Liste de séries</h3>
            {% for program in actor.programs %}
                <a href="{{ path("program_show", {id: program.id}) }}"><li>{{ program.title}}</li></a>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}